body {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin: 0;
    padding: 0;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin: 0;
}

button {
    transition: background-color 0.25s ease;
    background-color: #182323;
    color: white;
    padding: 7px;
    border: 0;
    border-radius: 7px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

button:disabled {
    background-color: #c0c0c0;
}

button:enabled:hover {
    background-color: #587c76;
}

.product-container {
    padding: 14px;
    margin-bottom: 14px;
    background-color: #efeee8;
    display: flex;
    flex-direction: row;
}

.product-container-image {
    /* background-color: orange; */
}

.product-image {
    height: 200px;
}

.product-container-content {
    padding-left: 14px;
    padding-right: 14px;
    /* background-color: palegreen; */
    flex: 3;
}

.product-sku {
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 7px;
    margin-bottom: 7px;
}

.disabled-text {
    color: #c0c0c0;
}

#top-bar {
    background-color: #587c76;
    margin: 0;
    margin-bottom: 14px;
    padding: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#top-bar a {
    color: white;
    text-decoration: none;
}

#top-bar a:hover {
    color: black;
}

.top-bar-section {
    display: flex;
    flex-direction: row;
}

.badge {
    margin-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-product {
    background-color: #efeee8;
    margin-top: 14px;
    margin-bottom: 14px;
    padding: 7px;
}

.cart-sku {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 7px
}

.cart-sku-qty-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.margin-left {
    margin-left: 7px;
}

.margin-right {
    margin-right: 7px;
}