body {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

p {
    margin: 0;
}

button {
    background-color: #182323;
    color: white;
    padding: 7px;
    border: 0;
    border-radius: 7px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

button:disabled {
    background-color: #c0c0c0;
}

.product-container {
    padding: 14px;
    margin: 14px;
    background-color: #efeee8;
    display: flex;
    flex-direction: row;
}

.product-container-image {
    /* background-color: orange; */
}

.product-image {
    height: 200px;
}

.product-container-content {
    padding-left: 14px;
    padding-right: 14px;
    /* background-color: palegreen; */
    flex: 3;
}

.product-sku {
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 7px;
    margin-bottom: 7px;
}

.disabled-text {
    color: #c0c0c0;
}